
/* NAVBAR */
nav{
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
   border-bottom: 1px solid #ccc;
}

h3{
    color:#1d448e;
    font-size: 40px;
    margin-right: 8rem;
}

ul{
    display: flex;
    list-style-type: none;
}

li{
    padding: 1rem;
    font-size: 20px;
}

.home, .aprender {
    text-decoration: none;
    font-size: 20px;
}

.aprender:hover,
.home:hover {
  text-decoration: underline;
}


input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 200px;
    height: 20px;
}

.lema{
    display: flex;
    align-items: center;
}


.search-form{
    display: flex;
    
}

.search-button {
    padding: 3px 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #1d448e;
    color: #fff;
    cursor: pointer;
    height: 30px;
}

.menu-search{
    display: flex;
    align-items: center;
}

.inicio-sesion{
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-weight: bold;
}

.a-redi{
    text-decoration: none;
    border: 1px solid #1d448e;
    padding: 0.5rem;
    border-radius: 4px;
}

.a-redi:hover{
    border:1px solid #0056bf;
}


.container-categoria{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Dos columnas con tamaño igual */
    gap: 5px; /* Espacio entre los elementos */
    justify-content: center;
    align-content: center;
  }

.title-categoria{
    justify-content: center;
    display: flex;
    cursor: pointer;
    /* font-size: 25px; */
}

.title-mainc{
    color:#1d448e;
    font-size: 30px;
    margin-right: 8rem;
    font-style: italic;
    justify-content: center;
    display: flex;
    margin-top: 3rem;
    font-weight: bold;
   
}

.li-categori{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
   
}

.li-categori:hover{
    border: 1px solid #1d448e;
    cursor: pointer;
}

/* footer */
footer {
    background-color: #031b4e;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .footer-content p {
    margin-bottom: 10px;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-links li {
    display: inline;
    margin-right: 10px;
  }
  
  .footer-links li:last-child {
    margin-right: 0;
  }
  
  .footer-links a {
    color: #ccc;
    font-weight: bold;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }

  .title-footer{
    color: white;
    font-size: 40px;
  }


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){

  h3{
  font-size: 30px;
  }

  nav{
    height: 200px;
    display: block;
  }
  .menu-search{
    display: block;
    align-items: flex-start;
  }

  .container-categoria{
    padding-right: 35px;
  }


}