body{
    background-color: #f4f4f4;
    margin: 20rem 0rem 0rem 20rem;
    width: 600px;
    height: 600px;
}

input{
    min-width: 250px;
    border: 1px solid #031b4e;;
}

input:focus {
    outline: none;
}

h2{
    font-style: italic;
    font-size: 30px;
    margin-bottom: 4rem;
}

img{
    border-radius: 5px;
}

span{
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 18px;
    justify-content: center;
}

a{
    color: #031b4e;
}
/* linea de bajo general */
.defect:hover{
    text-decoration: underline;
    cursor: pointer;
}

.text-color{
    color: #031b4e;
}

.title{
    justify-content: center;
    width: 300px;
    margin-bottom: 1rem;
    display: flex;
}

.container-login{
    display: flex;
    width: 350px;
}

.login-form{
    display: grid;
    border-bottom: 1px solid #ccc;
}

.login{
    margin-left: 3rem;
    border: 1px solid #ccc;
    padding: 2rem 4rem;
    border-radius: 4px;
}

.button-send, input{
    height: 35px;
    border-radius: 4px;
}

.button-send{
    cursor: pointer;
    font-size: 16px;
    background-color: #1d448e;
    border: 1px solid #1d448e;
    color:white;
    border: none;
    font-weight: bold;
    margin-bottom: 2rem;
}

.button-send:hover{
    background-color: #0056bf;
    border: 1px solid #0056bf;
}




/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.modal:target {
    display: block;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 600px;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.title-modal{
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin-bottom: 10px;
}

.form-create{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.button-create{
    height: 35px;
    width: 220px;
    border-radius: 4px;
}


