body, html{
    margin: 0;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    background-color: #f4f4f4;
}

span{
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 18px;
    justify-content: center;
}

input{
    width: 210px;
    border-radius: 4px;
    border: 1px solid #031b4e;
    height: 35px;
    margin-bottom: 10px;
}

input:focus {
    outline: none;
}

a{
    text-decoration: none;
    color: #031b4e;
}

.text-color{
    color: #031b4e;
}

/* linea de bajo general */
.defect:hover{
    text-decoration: underline;
    cursor: pointer;
}

.container-main{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-main{
    font-style: italic;
    font-size: 30px;
    color: #031b4e;
}

.container{
    border: 1px solid #ccc;
    padding: 2rem;
    width: 500px;
}

.header-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.form-home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
}

.button-send, .button-create{
    cursor: pointer;
    font-size: 16px;
    background-color: #1d448e;;
    color:white;
    border: none;
    font-weight: bold;
}

.button-send.button-create:hover{
    background-color: #0056bf;
    border: 1px solid #0056bf;
}

.new-link{
    margin-bottom: 10px;
    width: 220px;
}

.create{
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.home, .create-account{
    border:none;
    background-color: transparent;
    cursor: pointer;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

.modal:target {
    display: block;
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 600px;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.title{
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.form-create{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-create{
    height: 35px;
    width: 220px;
    border-radius: 4px;
    margin-top:1rem;
  
}


/* NAVBAR */
nav{
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

h3{
    color:#1d448e;
    font-size: 40px;
    margin-right: 8rem;
}

ul{
    display: flex;
    list-style-type: none;
}

li{
    padding: 1rem;
    font-size: 20px;
}

.home, .aprender {
    text-decoration: none;
}

.aprender:hover,
.home:hover {
  text-decoration: underline;
}

.input-search{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 200px;
    height: 20px;
}

.lema{
    display: flex;
    align-items: center;
}

.search-form{
    display: flex;
    
}

.search-button {
    padding: 3px 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #1d448e;
    color: #fff;
    cursor: pointer;
    height: 30px;
}

.menu-search{
    display: flex;
    align-items: center;
}

.inicio-sesion{
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-weight: bold;
}

.a-redi{
    text-decoration: none;
    border: 1px solid #1d448e;
    padding: 0.5rem;
    border-radius: 4px;
}

.a-redi:hover{
    border:1px solid #0056bf;
}


/* footer */
footer {
    background-color: #031b4e;;
    padding: 20px;
    text-align: center;
    margin-top: 4rem;
  }
  
  .footer-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .footer-content p {
    margin-bottom: 10px;
  }
  
  .footer-links {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-links li {
    display: inline;
    margin-right: 10px;
  }
  
  .footer-links li:last-child {
    margin-right: 0;
  }
  
  .footer-links a {
    color: #ccc;
    font-weight: bold;
    text-decoration: none;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }

  .title-footer{
    color: white;
    font-size: 40px;
  }
  





